﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <title>MainMasterLayOut</title>
</head>
<body>

    @*<form action="@ViewBag.action" method="@ViewBag.method">*@
    <table>
        <tr>
            <td>  <a class="btn-success" href="/Home/Index">Check Details</a>  </td>
            <td>  <a class="btn-success" href="/Home/Create">Add New Employee</a>  </td>
            <td>  <a class="btn-success" href="/Home/CreateLeave">Apply For Leave</a> </td>
            <td>  <a class="btn-success" href="/Home/ListLeave">Leave History</a> </td>
            <td>  <a class="btn-success" href="/Login/Signout">Logout</a> </td>
        </tr>
    </table>
            

    <div class="container">
                @RenderBody()
    </div>

    
</body>
</html>